<div class="breadcrumb">
    <h1>Perfil empresa</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card user-profile o-hidden mb-4">
    <div class="card-body">
        <ngb-tabset class="nav-center">

            <ngb-tab title="Top eventos">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-6" *ngFor="let event of eventos let i = index">
                            <div class="card card-profile-1 mb-4">
                                <div class="card-body text-center">
                                    <div class="avatar box-shadow-2 mb-3">
                                        <img [src]="ulr+'/'+event.imagen" alt="">
                                    </div>
                                    <h5 class="m-0">{{event.nombre}}</h5>
                                    <p class="mt-0 text-muted">{{event.nombreEpresa}}</p>
                                    <p>{{event.nombre}} dirección: {{event.direccion}}</p>
                                    <button class="btn btn-primary btn-rounded" (click)='onShowEvento(event.id)'>Saber más</button>
                                    <div class="card-socials-simple mt-4">
                                        <a [href]="redes.url" target="_blank" *ngFor="let redes of event.empresa_reds let i = index">
                                            <i class="i-{{redes.nombre}}"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>

        </ngb-tabset>
    </div>
</div>