<form #newForm="ngForm" [formGroup]="formBasic" (ngSubmit)="newForm.form.valid && onSubmit()">
    <div class="modal-header"> 
        <h4 class="modal-title" id="modal-basic-title">Nuevo registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 form-group mb-3">
                <label for="nombre">Nombre</label>
                <input [(ngModel)]="puntoVenta.nombre" [ngClass]="{ 'is-invalid': newForm.form.controls.nombre.invalid, 'is-valid': !newForm.form.controls.nombre.invalid }" type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingrese el primer nombre">
            </div> 
            <div class="col-md-6 form-group mb-3">
                <label for="telefono">Telefono</label>
                <input [(ngModel)]="puntoVenta.telefono" [ngClass]="{ 'is-invalid': newForm.form.controls.telefono.invalid, 'is-valid': !newForm.form.controls.telefono.invalid }" type="text" class="form-control" formControlName="telefono" id="telefono" placeholder="Ingrese el primer telefono">
            </div>  
            <div class="col-md-12 form-group mb-3">
                <label for="direccion">Dirección</label>
                <input [(ngModel)]="puntoVenta.direccion" [ngClass]="{ 'is-invalid': newForm.form.controls.direccion.invalid, 'is-valid': !newForm.form.controls.direccion.invalid }" type="text" class="form-control" formControlName="direccion" id="direccion" placeholder="Ingrese el primer direccion">
            </div> 
        </div>
    </div>
    <div class="modal-footer">
        <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Guardar</btn-loading>
    </div>
</form>