
<div class="card mb-4 col-lg-10 offset-lg-1">
    <div class="card-body">
        <div class="card-title mb-3">Nuevo registro</div>
        <form #newForm="ngForm" [formGroup]="formBasic" (ngSubmit)="newForm.form.valid && onSubmit()">
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label for="nombre">Nombre</label>
                    <input [(ngModel)]="lugar.nombre" [ngClass]="{ 'is-invalid': newForm.form.controls.nombre.invalid, 'is-valid': !newForm.form.controls.nombre.invalid }" type="text" class="form-control" formControlName="nombre" id="nombre" placeholder="Ingrese el primer nombre">
                </div> 
    
                <div class="col-md-6 form-group mb-3">
                    <label for="direccion">Dirección</label> 
                    <input [(ngModel)]="lugar.direccion" [ngClass]="{ 'is-invalid': newForm.form.controls.direccion.invalid , 'is-valid': !newForm.form.controls.direccion.invalid }" type="text" class="form-control" formControlName="direccion" id="lastName" placeholder="Ingrese direccion">
                </div>
    
                <div class="col-md-6 form-group mb-3">
                    <label for="telefono">Telefono</label>
                    <input [(ngModel)]="lugar.telefono" [ngClass]="{ 'is-invalid': newForm.form.controls.telefono.invalid , 'is-valid': !newForm.form.controls.telefono.invalid }" type="telefono" class="form-control" formControlName="telefono" id="email" placeholder="Ingrese telefono">
                </div>
    
                <div class="col-md-6 form-group mb-3">
                    <label for="celular">Celular</label>
                    <input [(ngModel)]="lugar.celular" [ngClass]="{ 'is-invalid': newForm.form.controls.celular.invalid , 'is-valid': !newForm.form.controls.celular.invalid }" type="text" class="form-control" formControlName="celular" id="celular" placeholder="Ingrese celular">
                </div>
    
                <div fxFlex fxFlexAlign="center"
                        class="autocomplete-container col-lg-12">
                    <mat-google-maps-autocomplete [appearance]="appearance.OUTLINE"
                                                    (onLocationSelected)="onLocationSelected($event)">
                    </mat-google-maps-autocomplete>
                </div>
                <agm-map [latitude]="lugar.lat" [longitude]="lugar.lng" [zoom]="zoom">
                    <agm-marker [latitude]="lugar.lat" [longitude]="lugar.lng" [markerDraggable]="true"
                    (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
                <div class="col-md-12">
                    <br>
                    <br>
                    <btn-loading btnClass="btn-ligth btn-rounded" (click)="onCancelar()" [loading]="loading">Cancelar</btn-loading>
                    <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Guardar</btn-loading>
                </div>
            </div>
        </form>
    </div>
</div>