<div class="breadcrumb">
    <h1>Evento</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="card user-profile o-hidden mb-4" *ngIf='evento'>
    <div class="header-cover"  [ngStyle]="{'background-image':'url('+ulrImage+')'}"></div>
    <div class="user-info" style="margin-top: 0px;">
        <br> 
        <p class="m-0 text-24">{{evento.nombre}}</p>
        <p class="text-muted m-0">{{evento.empresa.nombre}}</p>
    </div>
    <div class="card-body">
        <ngb-tabset class="nav-center">
            <ngb-tab title="Compras">
                <ng-template ngbTabContent>
                    <hr>

                    <form ngNoForm #testForm action="https://sandbox.checkout.payulatam.com/ppp-web-gateway-payu/" target="_blank" method="POST">
                        <input name="merchantId"    type="hidden"  value="{{merchantId}}"   >
                        <input name="accountId"     type="hidden"  value="{{accountId}}" >
                        <input name="description"   type="hidden"  value="Ventas en linea"  >
                        <input name="referenceCode" type="hidden"  value="{{codigoVenta}}" >
                        <input name="amount"        type="hidden"  value="{{valorTotal}}"   >
                        <input name="tax"           type="hidden"  value="0"  >
                        <input name="taxReturnBase" type="hidden"  value="0" >
                        <input name="currency"      type="hidden"  value="COP" >
                        <input name="signature"     type="hidden"  value="{{signature}}"  > 
                        <input name="test"          type="hidden"  value="1" >
                        <input name="buyerEmail"    type="hidden"  value="{{email}}" >
                        <input name="responseUrl"    type="hidden"  value="http://localhost/Git/queboleta_api/public/index.php/api/payu/respuesta/pago/">
                        <input name="confirmationUrl"    type="hidden"  value="http://localhost/Git/queboleta_api/public/index.php/api/payu/" >
                        <input name="Submit" type="submit" type="hidden" value="Enviar" >
                    </form>
                    
                    <div class="row" *ngFor="let categoria of categorias let i = index ">
                        <div class="row col-md-12 col-6">
                            <div class="col-md-4">
                                <p class="text-primary mb-1"><i class="i-Ticket text-16 mr-1"></i> Categoria</p>
                                <span>{{ categoria.nombre }}</span>
                            </div>
                            <div class="col-md-4">
                                <p class="text-primary mb-1"><i class="i-Money1 text-16 mr-1"></i> Boletas</p>
                                <i (click)="onRemove(categoria)" style="margin-left: 4px;" class="i-Remove text-16 mr-1 text-danger"></i>
                                    <b>{{ categoria.boleta }}</b>
                                <i (click)="onAdd(categoria)" class="i-Add text-16 mr-1 text-success" ></i>
                            </div>
                            <div class="col-md-4">
                                <p class="text-primary mb-1"><i class="i-Money1 text-16 mr-1"></i> Valor</p>
                                <span>$ {{ categoria.valor | number }}</span>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-6">
                            <p>
                                <btn-loading (click)="onSubmit()" btnClass="btn-lg btn-primary btn-rounded" [loading]="loading"><i class="i-Add-Cart"></i> Comprar</btn-loading>
                            </p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="col-lg-6 offset-lg-3">
                                <p class="text-muted mb-0">Total <i class="i-Money-2"></i></p>
                                <p class="lead text-primary text-24 mb-2">$ {{valorTotal | number }}</p>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Precios">
                <ng-template ngbTabContent>
                    <hr>
                    <div class="row" *ngFor="let precio of precios let i = index ">
                        <div class="row col-md-12 col-6">
                            <div class="col-md-3">
                                <p class="text-primary mb-1"><i class="i-Ticket text-16 mr-1"></i> Categoria</p>
                                <span>{{precio.nombre}}</span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Fecha inicio</p>
                                <span>{{precio.fechaInicio|date}}</span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-primary mb-1"><i class="i-Calendar text-16 mr-1"></i> Fecha fin</p>
                                <span>{{precio.fechaFin|date}}</span>
                            </div>
                            <div class="col-md-3">
                                <p class="text-primary mb-1"><i class="i-Money1 text-16 mr-1"></i> Valor</p>
                                <span>{{precio.valor}}</span>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Fotos">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let publicidad of publicidades let i = index ">
                            <div class="card text-white o-hidden mb-3">
                                <img class="card-img" [src]="ulr+'/'+publicidad.url_imagen" alt="">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>